<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!--Key for Navigation-->
    <!--<add key="linkSSO" value="http://10.5.200.125/qa/newsso5des2018"/>
	<add key="linkSIA" value="http://10.5.200.125/qa/pmasia5des2018"/>-->
    <add key="linkSSO" value="http://localhost/New_SSO/"/>
    <add key="linkSIA" value="http://localhost/New_SIA/"/>
    <add key="linkSIR" value="http://localhost/Recruitment/"/>
    <!--Key for Report Authentication-->
    <!--<add key="linkServerName" value="10.5.200.125"/>
    <add key="linkDatabaseName" value="ERP_PolmanAstra051218"/>
    <add key="linkUserID" value="sa"/>
    <add key="linkPassword" value="Brekele893"/>-->

    <add key="linkServerName" value="."/>
    <add key="linkDatabaseName" value="ERP_PolmanAstra"/>
    <add key="linkUserID" value="sa"/>
    <add key="linkPassword" value="ketikaja"/>
    <!--Key for Mail Authentication-->
    <!--<add key="linkSMTPServer" value="mobilemail.astra.co.id"/>-->
    <!--<add key="linkPort" value="465"/>-->
    <!--<add key="linkUserMail" value="support@polman.astra.ac.id"/>-->
    <!--<add key="linkPasswordMail" value="ThruWorst31jK"/>-->
    <add key="linkSMTPServer" value="smtp.gmail.com"/>
    <add key="linkPort" value="587"/>
    <add key="linkUserMail" value="direnord.information@gmail.com"/>
    <add key="linkPasswordMail" value="ketikaja"/>
    
    <!--Key for API-->
    <add key="linkAPISIA1" value="http://103.10.253.142:2283/d14eac83be4a34cf85f1f376a061ea85/SIA/GetListTransaction/74d9e86af8902ec02e178b371e73c2e1"/>
    <add key="linkAPIPMB" value="http://103.10.253.142:2283/d14eac83be4a34cf85f1f376a061ea85/PMB/GetResultSP/"/>
    <add key="linkAPIPMBVA" value="http://103.10.253.142:2283/d14eac83be4a34cf85f1f376a061ea85/PMB/CreateVA/"/>
    <add key="linkAPILibrary" value="http://103.10.253.142:2283/d14eac83be4a34cf85f1f376a061ea85/Library/GetResultSP/"/>
    <add key="keyAPIPMB" value="c6f34666eb6c238d8e020d32ec9a1da4"/>
    <add key="keyAPILibrary" value="05e99d243d92521ac448b20f2e89f7c2"/>
    <!--Key for Activating Message-->
    <add key="isCanSend" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ERP_PolmanAstra;Integrated Security=False;User ID=sa;Password=ketikaja"/>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ERP_PolmanAstra;Integrated Security=False;User ID=sa;Password=polman"/>-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Error.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="NotFound.html"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="5120"/>
    <authentication mode="Forms">
      <!--<forms name="SingleSignOn" loginUrl="http://10.5.200.125/qa/newsso5des2018" timeout="36000"/>-->
      <forms name="SingleSignOn" loginUrl="http://localhost/NEW_SSOPolmanAstra" timeout="36000"/>
    </authentication>
    <machineKey decryption="AES" decryptionKey="2B39D1917D5F94C5DD3038663C561D09D801F57063D60822" validation="SHA1" validationKey="364E569516733239F3DFC2A08908F3C5B3686B0581562815C0F802FBA5AA06144DBE42D69D9F5BD470E5DC7449996596AA6B5E6725C2C41FC5826EECE7103252"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>